body{
	font-family: 'Quicksand', sans-serif;
  background-color: #f2ead7;
  color: #4f4953;
}

#introduction,
#beard-types,
#beard-quiz{
  background-color: #4d6a74;
  color: white;
}

section h2{
	text-align: center;
	font-size: 3em;
}

.button {
	width: 100%;
	background-color: white;
	color: black;
	height: 40px;
	border-radius: 50px;
	border: 0;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.row {
	 margin-right: 0; 
	 margin-left: 0; 
}

.list p{
  font-size: 25px;
}

.list .number {
    color: #4d6a74;
    margin-right: 13px;
    font-size: 45px;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px); 
}

/*** menu btn ***/

#menu-btn{
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	background-color: #f2ead7;
  color: #4f4953;
	font-size: 2em;
	margin: 40px;
	z-index: 990;
	border-radius: 20%;
}

/*** menu sidebar ***/

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	right: 0;
	height: 150vh;
	z-index: 999;
	background: #e4d4b0;
	color: white;
	transition: all 0.3s;
}

#sidebar button {
	height: 30px;
	width: 30px;
	padding: 0;
	float: right;
}

#sidebar.active {
	margin-right: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #455c65;
}

#sidebar ul li a {
	text-align: center;
	color: #4f4953;
	padding: 10px;
	font-size: 1.1em;
	display: block;
	margin-top: 40px;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px); 
}

@media (max-width: 768px) {
	#sidebar {
		margin-right: 0;
	}
	#content {
		width: 100%;
	}
	#sidebarCollapse span {
		display: none;
	}
}

/*** content ***/

#content {
	width: calc(100% - 250px);
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	left: 0;
}

#content.active {
	width: 100%;
}

/*** Header ***/

#header{
  margin: 70px 0;
}

#header h1 {
	font-size: 3.5em;
	position: absolute;
	top: 40%;
}

@media (max-width: 576px) {
	#header h1 { 
		position: static;
		font-size: 3em;
		text-align:center;
		margin-bottom: 30px;
	}
}

/*** introduction ***/

#introduction{
  padding: 35px 0;
}

#introduction h2{
  margin: 0 35px;
}

#introduction .profile-photo {
	height: 200px;
	width: 200px;	
	border-radius: 50%;
	border:8px solid white;
	margin: auto;    
	display: block;
}

/*** reasons ***/

#reasons{
	margin-bottom: 150px;
}

#reasons h2{
	margin: 100px 0;
}

@media (max-width: 576px) {

}

/***** beard-types *****/

#beard-types{
  padding: 50px 100px;
  text-align: center;
}

#beard-types h2{
  margin-bottom: 50px;
}

#beard-types img {
    border-radius: 50%;
    margin-bottom: 25px;
}

/*** treatments ***/

#treatments{
  padding: 40px 10%;
}

#treatments img{
  border-radius: 20%;
  background-color: white;
  padding-bottom: 20px;
}

#treatments h2{
  padding: 20px 0 50px 0;
}

#treatments p{
  font-size: 25px;
  text-align: justify;
}

#treatments b{
  color: #4d6a74;

    font-size: 30px;
}

#treatments .row{
  margin-bottom: 45px;
  display:flex;
  align-items:center;
}

/*** beard quiz ***/

#beard-quiz{
  height: 300px;
  padding-top: 110px;
}

#beard-quiz button{
  background: #4a6974;
  color: white;
  padding: 10px;
  font-size: 35px;
}

#beard-quiz button:hover{
  background: #455b63
}

/*** footer ***/

footer{
	height: 50px;
	width: 100%;
	background-color: #455c65;
  color: white;
	padding-top: 10px;
}

.beard-type:hover {
  opacity: .7;  
}

