body{
	font-family: 'Quicksand', sans-serif;
  background-color: #f2ead7;
  color: #4f4953;
}

#introduction,
#beard-types,
#treatments{
  background-color: #4d6a74;
  color: white;
}

section h2{
	text-align: center;
	font-size: 3em;
}

.button {
	width: 100%;
	background-color: white;
	color: black;
	height: 40px;
	border-radius: 50px;
	border: 0;
}

.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.row {
	 margin-right: 0; 
	 margin-left: 0; 
}

.list p{
  font-size: 25px;
}

.list .number {
    color: #4d6a74;
    margin-right: 13px;
    font-size: 45px;
}

/*** menu btn ***/

#menu-btn{
	position: fixed;
	top: 0;
	right: 0;
	border: 0;
	background-color: #f2ead7;
  color: #4f4953;
	font-size: 2em;
	margin: 40px;
	z-index: 990;
	border-radius: 20%;
}

/*** menu sidebar ***/

#sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	right: 0;
	height: 150vh;
	z-index: 999;
	background: #C2185B;
	color: white;
	transition: all 0.3s;
}

#sidebar button {
	height: 30px;
	width: 30px;
	padding: 0;
	float: right;
}

#sidebar.active {
	margin-right: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #E91E63;
}

#sidebar ul li a {
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 1.1em;
	display: block;
	margin-top: 40px;
}

.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px); 
}

@media (max-width: 768px) {
	#sidebar {
		margin-right: 0;
	}
	#content {
		width: 100%;
	}
	#sidebarCollapse span {
		display: none;
	}
}

/*** content ***/

#content {
	width: calc(100% - 250px);
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	left: 0;
}

#content.active {
	width: 100%;
}

/*** Header ***/

#header{
  margin: 70px 0;
}

#header h1 {
	font-size: 3.5em;
	position: absolute;
	top: 40%;
}

@media (max-width: 576px) {
	#header h1 { 
		position: static;
		font-size: 3em;
		text-align:center;
		margin-bottom: 30px;
	}
}

/*** introduction ***/

#introduction{
  padding: 35px 0;
}

#introduction h2{
  margin: 0 35px;
}

#introduction .profile-photo {
	height: 200px;
	width: 200px;	
	border-radius: 50%;
	border:8px solid white;
	margin: auto;    
	display: block;
}

/*** reasons ***/

#reasons{
	margin-bottom: 150px;
}

#reasons h2{
	margin: 100px 0;
}

.chart {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
}

.chart canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.percent {
	display: inline-block;
	line-height: 200px;
	z-index: 2;
}

@media (max-width: 576px) {
	#reasons [class*="col-"]{
		text-align: center;
		margin-bottom: 40px;
	}

	#reasons h2{
		margin: 60px 0;
	}
}

/***** beard-types *****/

#beard-types{
  padding: 50px 100px;
  text-align: center;
}

#beard-types h2{
  margin-bottom: 50px;
}

#beard-types img {
    border-radius: 50%;
}

/*** beard quiz ***/

#beard-quiz{
  height: 200px;
  padding-top: 65px;
}

#beard-quiz button{
  background: #4a6974;
  color: white;
  padding: 10px;
  font-size: 35px;
}

#beard-quiz button:hover{
  background: #455b63
}

/*** treatments ***/

#treatments img{
  border-radius: 20%;
  background-color: white;
  padding-bottom: 20px;
}

/*** Work ***/

#work{
	background-color: #ff1c73;
	padding: 50px 100px;
}

#work h2{
	margin-bottom: 50px;
	color: white;
}

#work [class*="col-"]{
	margin-bottom: 50px;
}

@media (max-width: 576px) {
	#work{
		padding: 40px 50px;
	}
}

/*** contact ***/

#contact h2,
#contact h3{
	margin-bottom: 50px;
}

#contact {
	background-image: url("../images/contact.jpg"); 
	background-attachment: fixed; 
	background-size: cover; 
	height: 100%;
}

#contact .overlay {
	padding: 50px 120px;
	width:100%;
	height:100%;
	background-color: rgba(50, 44, 44, 0.8);
}

#contact-content{
	 color: white; 
}

#contact-list li{
	margin-bottom: 10px;
	font-size: 1.1em;
}

#contact-list i{
	margin: 10px;
	margin-left: 0px;
	color: #ff1c73;
}

#form input,
#form  textarea, 
#contact button{
	background-image:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: block;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	border: 0;
}

#form input{
	height: 30px;
}

#form textarea{
	height: 100px;
}

@media (max-width: 576px) {

	#contact .overlay {
		padding: 50px 20px;
	}

	#contact-list{
		margin-bottom: 50px;
	}

	#contact-list li {
		list-style-type: none;
	}
}

/*** footer ***/

footer{
	height: 50px;
	width: 100%;
	background-color: black;
	color: white;
	padding-top: 10px;
}

/***** portfolio hover ****/

#work [class*="col-"] a,
#work [class*="col-"] a img {
	display: block;
	position: relative;
}
#work [class*="col-"] a {
	overflow: hidden;
}
#work [class*="col-"] a div {
	position: absolute;
	background: #333;
	background: rgba(75,75,75,0.7);
	width: 100%;
	height: 100%;
}
#work [class*="col-"] a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);
}

